<hr>
<div>
  <p>Je suis l'enfant et ma propriété est "childProperty" et elle vaut: {{ childProperty}}</p>
  <p>Mais je vous conseille de lire le code disponible dans les fichiers .ts</p>
  <p>Un exemple est également disponible ici:
    <a href="https://angularfirebase.com/lessons/sharing-data-between-angular-components-four-methods/#Child-to-Parent-Sharing-Data-via-Output-and-EventEmitter"
    target="_blank">
      angularfirebase
    </a></p>
  <p>Ce qui est bien ici, c'est qu'on utilise eventEmitter, et il nous sera utile également plus tard.</p>
  <p>Dans le chapitre 5, je vous propose de voir les services ... Go !</p>
</div>
