<div class="chapter">
   <h1>data-binding</h1>
  <p>Avant le data binding, on va déplacer le menu des chapitres précédents dans le dropdown de la barre de navigation,
  et mettre un peu de style. Et mettre le chapitre 4 en page d'accueil ... Vous savez faire ;)</p>
  <p>J'ai appliqué le même style (genre container) à mes pages ... et dans chaque css, j'ai le même code.</p>
  <p>Un composant étant indépendant du reste, il l'est notemment avec le style, bonne et mauvaise chose.
  Mais revenons à notre histoire de data-binding.</p>
  <p>Derrière de mot bizarre, c'est simplement le fait d'utiliser une variable dans un template,
    mais aussi, depuis le template, pouvoir agir sur le composant.</p>
</div>
